<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Project Pulse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <style type="text/css">
        body { font-family: 'Inter', sans-serif; font-size:16px; margin: 0; padding: 0; background-color: #f4f4f4; }
        .container { max-width: 600px; margin: 20px auto; background: #ffffff; }
        .header { background-color: #4CAF50; color: white; padding: 10px 20px; text-align: center; }
        .content { padding: 20px; }
        .footer { background-color: #f4f4f4; color: #888888; padding: 10px 20px; text-align: center; font-size: 0.8em; }
        .button { background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block; }
        img { max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to Project Pulse, <%= name %></h1>
        </div>
        <div class="content">
            <p>Hi, <%= name %>,</p>
            <p>We're excited to have you on board and look forward to helping you manage and streamline your projects effectively. Project Pulse is designed to bring clarity, control, and compliance to your project management efforts.</p>
            <p>
                <img src="https://www.istockphoto.com/photo/business-project-team-working-together-at-meeting-room-at-office-gm1136253777-302715075" alt="">
            </p>
            <!-- <p>
                To get started, click the button below to activate your account:
                <br>
                <a href="https://your-activation-link.com" class="button">Activate Account</a>
            </p> -->
            <p>
                If you have any questions or need assistance, our support team is always here to help.
                <br>
                Enjoy your journey with Project Pulse!
            </p>
            <p>Thank you,<br>The Project Pulse Team</p>
        </div>
        <div class="footer">
            This is an automated message, please do not reply directly to this email. If you need help, contact us at <a href="mailto:favourbuyanzi@gmail.com">support@projectpulse.com</a>.
        </div>
    </div>
</body>
</html>
